<a href="https://colab.research.google.com/github/hey-subodh/Credit_Card_Fraud_Detection/blob/main/CreditCardFraudDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the libraries that are needed in this project

In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#loading the dataset to the pandas data frame

credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
# printing the first data set that is checking the working
# converted this features through principle component data method
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
# Gives five data from the last
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
51586,45023,-2.943382,-2.332451,2.568959,0.747114,2.083550,-1.319267,-1.837967,0.421285,0.347715,...,-0.013848,-0.091317,-0.268974,0.069693,0.202920,0.356930,-0.006093,0.268288,26.24,0.0
51587,45024,-1.278283,-3.726046,-0.902718,2.796542,-1.750987,0.199763,1.223412,-0.106145,0.793279,...,0.664178,-0.592258,-1.141974,0.322687,0.081328,-0.354449,-0.150956,0.269036,1233.16,0.0
51588,45024,-0.852261,0.886192,-0.378032,-1.142044,1.880941,3.505875,-0.403582,1.365218,-0.369193,...,0.091829,0.066337,-0.055970,1.027545,-0.327900,0.255778,0.132317,0.133329,28.98,0.0
51589,45024,-0.447740,0.775759,1.586053,0.227702,-0.270962,-0.539013,0.488655,0.071070,0.308739,...,-0.033903,0.202157,-0.180777,0.424592,-0.172455,0.365861,0.353120,0.198239,3.99,0.0
51590,45026,1.042380,-1.096464,0.234271,-0.615254,-1.243107,-0.714834,-0.433026,-0.084918,-0.946072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# getting the dataset Information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51591 entries, 0 to 51590
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    51591 non-null  int64
 1   V1      51591 non-null  float64
 2   V2      51591 non-null  float64
 3   V3      51591 non-null  float64
 4   V4      51591 non-null  float64
 5   V5      51591 non-null  float64
 6   V6      51591 non-null  float64
 7   V7      51591 non-null  float64
 8   V8      51591 non-null  float64
 9   V9      51591 non-null  float64
 10  V10     51591 non-null  float64
 11  V11     51590 non-null  float64
 12  V12     51590 non-null  float64
 13  V13     51590 non-null  float64
 14  V14     51590 non-null  float64
 15  V15     51590 non-null  float64
 16  V16     51590 non-null  float64
 17  V17     51590 non-null  float64
 18  V18     51590 non-null  float64
 19  V19     51590 non-null  float64
 20  V20     51590 non-null  float64
 21  V21     51590 non-null  float64
 22  V22     51590 non-null  float64
 23  V23     51590 non-null  float64
 24  V24     51590 non-null  float64
 25  V25     51590 non-null  float64
 26  V26     51590 non-null  float64
 27  V27     51590 non-null  float64
 28  V28     51590 non-null  float64
 29  Amount  51590 non-null  float64
 30  Class   51590 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 12.2 MB

In [7]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [9]:
# As we can see that there are some missing values in our data set. therefore we need to handle those missing values.
# two method
# Imputation and dropping
# credit_card_data.shape gives us the number of rows and column in the data set
credit_card_data.shape

(51591, 31)

 Central Tendencies:
 1. Mean (Filling:- credit_card_data['col_name'].fillna(credit_card_data['col_name'].mean(),inplace = True))
 2. Median change mean to mode or median, anyone you want to use after checking the chart
 3. Mode

 Dropping Method will be used here

In [10]:
credit_card_data = credit_card_data.dropna(how='any')

In [11]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
#As we can see that we have dropped the missing values that are present in our dataset.
# Now checking the distribution of legit and fraudelent transaction

credit_card_data['Class'].value_counts()

0.0    51440
1.0      150
Name: Class, dtype: int64

As we can see that this dataset is higly unbalanced due to the number of cases 1,0 and we cant feed this model into our ml model. we need to preprocess this data.

0--> Normal Transaction

1--> fraudlent Transaction

In [13]:
#Seperating the data for analysis

legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(51440, 31)
(150, 31)

In [15]:
# Getting the Statistical measure of the data
legit.Amount.describe()

count    51440.000000
mean        94.000267
std        253.580381
min          0.000000
25%          7.680000
50%         25.390000
75%         86.002500
max      12910.930000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     150.000000
mean       98.848400
std       232.056904
min         0.000000
25%         1.000000
50%         8.370000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [17]:
# Comparing the values for both the Transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,29415.283301,-0.222781,-0.011835,0.723983,0.167022,-0.243353,0.111629,-0.097493,0.043855,0.119132,...,0.046149,-0.031554,-0.106314,-0.038715,0.008255,0.135244,0.019932,0.002418,0.003911,94.000267
1.0,27111.653333,-7.605033,5.403059,-10.281767,5.877956,-5.631727,-2.260874,-7.999087,3.694993,-3.548144,...,0.461715,0.894469,-0.216422,-0.280400,-0.081415,0.242705,0.148260,0.594727,0.030024,98.848400

We will use Under-Sampling Method

Building the sample dataset containing the similar distribution of normal and fraudelent Transactions(150 total)

In [18]:
legit_sample = legit.sample(n=150)

Concatenating the two data frames

In [19]:
new_dataset = pd.concat([legit_sample,fraud],axis = 0)
# axis =0 means values will be added row wise 1 means column wise

In [20]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
48363,43610,-0.155081,0.554559,0.625112,1.541957,-0.487513,0.396182,-0.862740,-2.633811,-0.617541,...,-1.081977,0.661508,-0.110832,0.079379,0.425428,-0.181146,0.138259,0.297601,141.35,0.0
21297,31582,-0.954927,-0.255237,1.697125,-1.904362,-0.441056,-1.121172,0.644453,-0.213937,-1.644116,...,-0.462606,-1.231158,0.191925,0.399077,0.065585,1.107626,-0.116320,0.060444,109.00,0.0
19498,30329,-0.813151,1.359829,1.346820,2.550308,0.949065,0.466341,0.661830,0.103189,-1.932522,...,0.117034,0.218977,-0.409678,-0.297827,0.307527,0.363862,-0.201548,0.069149,3.71,0.0
586,439,-0.142562,0.995908,1.348949,0.651922,0.402290,-0.141452,0.735366,-0.182281,-0.552172,...,0.259457,1.160833,-0.260795,0.051830,-0.405058,-0.273672,0.304349,0.023759,3.67,0.0
39943,40032,-0.244696,1.484332,-0.401158,0.465751,0.902428,-0.006098,0.616202,-0.833625,-0.490033,...,0.846109,0.248029,-0.025853,-0.845498,-0.507681,-0.350188,0.576610,0.276724,1.00,0.0

In [21]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
46998,43028,-1.109646,0.811069,-1.138135,0.935265,-2.330248,-0.116106,-1.621986,0.458028,-0.912189,...,0.641594,0.841755,0.176728,0.081004,-0.258899,0.707654,0.418649,0.080756,204.27,1.0
47802,43369,-3.365319,2.426503,-3.752227,0.276017,-2.305870,-1.961578,-3.029283,-1.674462,0.183961,...,2.070008,-0.512626,-0.248502,0.126550,0.104166,-1.055997,-1.200165,-1.012066,88.00,1.0
48094,43494,-1.278138,0.716242,-1.143279,0.217805,-1.293890,-1.168952,-2.564182,0.204532,-1.611155,...,0.490183,0.470427,-0.126261,-0.126644,-0.661908,-0.349793,0.454851,0.137843,24.90,1.0
50211,44393,-4.617461,3.663395,-5.297446,3.880960,-3.263551,-0.918547,-5.715262,0.831040,-2.457034,...,2.698175,-0.027081,0.366775,-0.123011,-0.300457,-0.239996,-0.183463,-0.073360,1.00,1.0
50537,44532,-0.234922,0.355413,1.972183,-1.255593,-0.681387,-0.665732,0.059110,-0.003153,1.122451,...,0.220670,0.912107,-0.286338,0.451208,0.188315,-0.531846,0.123185,0.039581,1.00,1.0

In [23]:
# Checking Uniform data
new_dataset['Class'].value_counts()

0.0    150
1.0    150
Name: Class, dtype: int64

In [24]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,26999.940000,-0.339674,0.059062,0.596865,0.308728,-0.405669,0.308301,-0.195889,0.177581,0.281532,...,0.144387,-0.014694,-0.137458,-0.055692,0.053540,0.134749,0.034951,-0.001248,0.007856,119.0902
1.0,27111.653333,-7.605033,5.403059,-10.281767,5.877956,-5.631727,-2.260874,-7.999087,3.694993,-3.548144,...,0.461715,0.894469,-0.216422,-0.280400,-0.081415,0.242705,0.148260,0.594727,0.030024,98.8484

Splitting the data into features and targets

In [25]:
X = new_dataset.drop(columns='Class',axis =1)
Y = new_dataset['Class']

In [26]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
48363  43610 -0.155081  0.554559  0.625112  1.541957 -0.487513  0.396182
21297  31582 -0.954927 -0.255237  1.697125 -1.904362 -0.441056 -1.121172
19498  30329 -0.813151  1.359829  1.346820  2.550308  0.949065  0.466341
586      439 -0.142562  0.995908  1.348949  0.651922  0.402290 -0.141452
39943  40032 -0.244696  1.484332 -0.401158  0.465751  0.902428 -0.006098
...      ...       ...       ...       ...       ...       ...       ...
46998  43028 -1.109646  0.811069 -1.138135  0.935265 -2.330248 -0.116106
47802  43369 -3.365319  2.426503 -3.752227  0.276017 -2.305870 -1.961578
48094  43494 -1.278138  0.716242 -1.143279  0.217805 -1.293890 -1.168952
50211  44393 -4.617461  3.663395 -5.297446  3.880960 -3.263551 -0.918547
50537  44532 -0.234922  0.355413  1.972183 -1.255593 -0.681387 -0.665732

             V7        V8        V9  ...       V20       V21       V22  \
48363 -0.862740 -2.633811 -0.617541  ...  0.878039 -1.081977  0.661508
21297  0.644453 -0.213937 -1.644116  ... -0.101945 -0.462606 -1.231158
19498  0.661830  0.103189 -1.932522  ...  0.004651  0.117034  0.218977
586    0.735366 -0.182281 -0.552172  ...  0.273830  0.259457  1.160833
39943  0.616202 -0.833625 -0.490033  ...  0.076126  0.846109  0.248029
...         ...       ...       ...  ...       ...       ...       ...
46998 -1.621986  0.458028 -0.912189  ...  0.168891  0.641594  0.841755
47802 -3.029283 -1.674462  0.183961  ... -0.036837  2.070008 -0.512626
48094 -2.564182  0.204532 -1.611155  ...  0.817203  0.490183  0.470427
50211 -5.715262  0.831040 -2.457034  ... -0.346456  2.698175 -0.027081
50537  0.059110 -0.003153  1.122451  ... -0.003469  0.220670  0.912107

            V23       V24       V25       V26       V27       V28  Amount
48363 -0.110832  0.079379  0.425428 -0.181146  0.138259  0.297601  141.35
21297  0.191925  0.399077  0.065585  1.107626 -0.116320  0.060444  109.00
19498 -0.409678 -0.297827  0.307527  0.363862 -0.201548  0.069149    3.71
586   -0.260795  0.051830 -0.405058 -0.273672  0.304349  0.023759    3.67
39943 -0.025853 -0.845498 -0.507681 -0.350188  0.576610  0.276724    1.00
...         ...       ...       ...       ...       ...       ...     ...
46998  0.176728  0.081004 -0.258899  0.707654  0.418649  0.080756  204.27
47802 -0.248502  0.126550  0.104166 -1.055997 -1.200165 -1.012066   88.00
48094 -0.126261 -0.126644 -0.661908 -0.349793  0.454851  0.137843   24.90
50211  0.366775 -0.123011 -0.300457 -0.239996 -0.183463 -0.073360    1.00
50537 -0.286338  0.451208  0.188315 -0.531846  0.123185  0.039581    1.00

[300 rows x 30 columns]

In [27]:
print(Y)

48363    0.0
21297    0.0
19498    0.0
586      0.0
39943    0.0
        ...
46998    1.0
47802    1.0
48094    1.0
50211    1.0
50537    1.0
Name: Class, Length: 300, dtype: float64

Now Splitting the data into training data and testing data

In [29]:
# 0.2 means 20% is stored in x_test and rest in y_train
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y, random_state=2)

In [30]:
print(X.shape,X_train.shape,X_test.shape)

(300, 30) (240, 30) (60, 30)

Now checking the model Training

Logistic Regression model is used due to binary nature

In [41]:
model = LogisticRegression(max_iter=1000)

In [43]:
# Training the Logistic Regression Model with Training Data
# X_train contains data wil Y_train contains respective labels of data in X_train
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

Now Evaluating the model based on accuracy score

\

In [44]:
# Checking the accuracy of training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [45]:
print("Accuracy on the Training Data : ",training_data_accuracy)

Accuracy on the Training Data :  0.9916666666666667

In [51]:
# Got an accuracy percentage of 99.16%
# Now checking the accuracy on test data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [52]:
print("Accuracy on the Testing Data : ",testing_data_accuracy)

Accuracy on the Testing Data :  0.9